*{
    margin: 0;
}


body{
    background: greenyellow;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slide{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: blue;
    flex:1;
    transition: all 1000ms ease-in-out;
}
.slide h3{
    font-size: 24px;
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.active{
    flex:10;
}

.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.4s;
}